{% extends "base.html" %}
{% load static %}

{% block title %}Демобаза{% endblock %}

{% block body %}





    <!-- ##### Hero Area Start ##### -->
    <section class="hero-area">
        <div class="hero-slides owl-carousel">

            <!-- Single Hero Slide -->
            <div class="single-hero-slide d-flex align-items-center justify-content-center">
                <!-- Slide Img -->
                <div class="slide-img bg-img" style="background-image: url({% static 'img/bg-img/platforma.jpg' %});"></div>
                <!-- Slide Content -->
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="hero-slides-content text-center">
                                <h6 data-animation="fadeInUp" data-delay="100ms">Первые выходные лета</h6>
                                <h2 data-animation="fadeInUp" data-delay="300ms">ПЛАТФОРМА<span>ПЛАТФОРМА</span></h2>
                                <a data-animation="fadeInUp" data-delay="500ms" href="#" class="btn oneMusic-btn mt-50">Подробнее<i class="fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Hero Slide -->
            <div class="single-hero-slide d-flex align-items-center justify-content-center">
                <!-- Slide Img -->
                <div class="slide-img bg-img" style="background-image: url({% static 'img/bg-img/woodstock.jpg' %});"></div>
                <!-- Slide Content -->
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="hero-slides-content text-center">
                                <h6 data-animation="fadeInUp" data-delay="100ms">Раз в вечность</h6>
                                <h2 data-animation="fadeInUp" data-delay="300ms">WOODSTOCK <span>WOODSTOCK</span></h2>
                                <a data-animation="fadeInUp" data-delay="500ms" href="#" class="btn oneMusic-btn mt-50">Подробнее <i class="fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Hero Area End ##### -->

<!-- ##### Latest Albums Area Start ##### -->
    <section class="latest-albums-area section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading style-2">
                        <p>Учавствующие в фестивалях</p>
                        <h2>Исполнители</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-lg-9">
                    <div class="ablums-text text-center mb-70">
                        <p>Здесь вы можете ознакомится с исполнителями-учасниками наших фестивалей, слушать музыку, смотреть клипы и делится с друзьями</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="albums-slideshow owl-carousel">
                        {% for project in projects %}

                            <div class="single-album">
                                <a href="musicians/{{ project.slug }}">
                                <img src="{% static 'stub/filipp.jpg' %}" alt="">
                                </a>
                                <div class="album-info">
                                    <a href="musicians/{{ project.slug }}">
                                        <h5>{{ project.name }}</h5>
                                    </a>
                                    <a href="#">
                                    <p>
                                        {% for genre in project.genres.all %}
                                            {{ genre }}
                                        {% endfor %}
                                    </p>
                                    </a>
                                    <a href="#">
                                    <p>
                                        {{ project.city }}
                                    </p>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col-12">
                    <div class="load-more-btn text-center wow fadeInUp" data-wow-delay="300ms">
                        <a href="#" class="btn oneMusic-btn">Все исполнители <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
    </section>

    <section class="oneMusic-buy-now-area has-fluid bg-gray section-padding-100">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading style-2">
                        <p></p>
                        <h2>Клипы</h2>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                    <div class="single-album-area wow fadeInUp" data-wow-delay="100ms">
                        <div class="album-thumb">
                            <img src="{% static 'img/bg-img/a1.jpg' %}" alt="">
                            <!-- Play Icon -->
                            <div class="play-icon">
                                <a href="#" class="video--play--btn"><span class="icon-play-button"></span></a>
                            </div>
                        </div>
                        <div class="album-info">
                            <a href="#">
                                <h5>Garage Band</h5>
                            </a>
                            <p>Radio Station</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-12">
                    <div class="load-more-btn text-center wow fadeInUp" data-wow-delay="300ms">
                        <a href="#" class="btn oneMusic-btn">Все клипы <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
