<!DOCTYPE html>{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
	{% if user and not user.is_anonymous %}
    	<a>Hello, {{ user.get_full_name }}!</a>
    	<br>
    	<a href="/logout">Logout</a>
	{% else %}
		<a href="{% url 'social:begin' 'facebook-oauth2' %}?next={{ request.path }}">Facebook</a>
        <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Google</a>
        <a href="{% url 'social:begin' 'vk-oauth2' %}?next={{ request.path }}">Vk</a>
	{% endif %}
</body>
</html>